@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
html,
body {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #ff6;
  background: #000;
  overflow: hidden;
  margin: 0;
}

.starwars section {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
}
.starwars .ending {
  display: none;
}
.starwars .start {
  font-size: 200%;
  width: 14em;
  margin: -4em 0 0 -7em;
  text-align: center;
  cursor: pointer;
}
.starwars .start span {
  color: #4bd5ee;
}
.starwars .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  font-size: 200%;
  font-weight: 400;
  color: #4bd5ee;
  opacity: 0;
  -webkit-animation: intro 6s ease-out 1s;
          animation: intro 6s ease-out 1s;
}
.starwars .logo {
  opacity: 0;
  -webkit-animation: logo 9s ease-out 9s;
          animation: logo 9s ease-out 9s;
}
.starwars .logo svg {
  width: inherit;
}
.starwars .titles {
  width: 14.65em;
  margin: 0 0 0 -7.325em;
  top: auto;
  bottom: 0;
  height: 50em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}
.starwars .titles > div {
  position: absolute;
  top: 100%;
  -webkit-animation: titles 81s linear 13s;
          animation: titles 81s linear 13s;
}
.starwars .titles > div > p {
  margin: 1.35em 0 1.85em 0;
  line-height: 1.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@-webkit-keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.damntext {
  width: 33%;
  position: absolute;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.righttext {
  width: 33%;
  position: absolute;
  z-index: 0;
  margin-right: auto;
  right: 0;
  text-align: center;
}

.lefttext {
  width: 33%;
  position: absolute;
  z-index: 0;
  margin-left: auto;
  left: 0;
  text-align: center;
}

.textboxl {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  width: 50%;
}

.textboxr {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  width: 50%;
}

.bottomtext {
  width: 33%;
  position: absolute;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
}

.ending {
  color: white;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: white;
}

a.my-button {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  padding: 0px 0px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}

a.my-button:hover {
  background-color: hotpink;
}

a.my-button:active {
  transform: scale(0.95);
}